header {
  background-color: #e6e6e6;
  height: 53px;
}
.ch-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.ch-fl-left{
 float: left;
}
.ch-fl-right{
 float:right;
}

.ch-pt-10{
 margin-top: 10px;
}

.ch-hide-md{
 display: none;
}
.ch-logo{
 height: 30px;
}

.ch-d-lab{
 font-size: 28px;
 margin-top: 8px;
 margin-left: 50px;
 font-family: "Gotham A","Gotham B";
}

.ch-n-help{
 color:#63666a;
}

@media (min-width: 576px) {
 .ch-container {
   max-width: 540px;
 }
}
@media (min-width: 768px) {
 .ch-container {
   max-width: 720px;
 }
 .ch-hide-md{
  display: block;
 }
}
@media (min-width: 992px) {
 .ch-container {
   max-width: 960px;
 }
}
@media (min-width: 1200px) {
  .ch-container {
    max-width: 1140px;
  }
}



